<h1>Lessons Management</h1>

<div class="lesson_form_container">
  <form [formGroup]="newLessonFormData" (ngSubmit)="onSubmit(newLessonFormData.value)">
    <header>Enter New Lesson : Please Don't Forget Lesson Infos</header>

    <label>Lesson Name *</label>
    <input type="text" name="lessonName" formControlName="lessonName" />

    <label>Level *</label>
    <input type="text" name="level" formControlName="level" />

    <label>Lesson Start Date *</label>
    <input type="text" name="startDate" formControlName="startDate" />

    <label>Lesson End Date *</label>
    <input type="text" name="endDate" formControlName="endDate" />

    <button [disabled]="!newLessonFormData.valid" value="Submit">New Lesson</button>
  </form>
</div>

<h1>All Lessons</h1>
<ul>
  <li *ngFor="let lesson of lessons">
    <label>
      Lesson level : {{lesson.level}}
    </label>
    <label>
      Name :
      <a routerLink="/lesson-detail/{{lesson.id}}">
        {{lesson.lessonName}}
      </a>
    </label>
    <button title="delete lesson" (click)="delete(lesson)">X</button>
  </li>
</ul>