<h1>{{title}}</h1>

<div class="lesson_form_container">
  <form [formGroup]="newLessonFormData" (ngSubmit)="onSubmit(newLessonFormData.value)">
    <header>{{lessonFormHeader}}</header>

    <label>Lesson Name *</label>
    <select formControlName="lessonName">
      <option value="">Please select a Lesson</option>
      <option *ngFor="let less of lessonsList" [value]="less">{{less}}</option>
    </select>

    <label>Level *</label>
    <select formControlName="level">
      <option value="">Please select a Level</option>
      <option *ngFor="let lev of lessonLevels" [value]="lev">{{lev}}</option>
    </select>

    <br>
    <label>Lesson Start Date *</label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>

    <label>Lesson End Date *</label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="help">(*) fields are mandatory</div>
    
    <br>
    <button [disabled]="!newLessonFormData.valid" value="Submit">New Lesson</button>

    <!--pre>{{newLessonFormData.value | json}}</pre-->

  </form>
</div>

<h1>{{subtitle}}</h1>
<ul>
  <li *ngFor="let lesson of lessons">
    <label>
      Lesson level : {{lesson.level}}
    </label>
    <label>
      Name :
      <a routerLink="/lesson-detail/{{lesson.id}}">
        {{lesson.lessonName}}
      </a>
    </label>
    <button title="delete lesson" (click)="delete(lesson)">X</button>
  </li>
</ul>