<h1>{{title}}</h1>

<div class="teacher_form_container">
  <form [formGroup]="newTeacherFormData" (ngSubmit)="onSubmit(newTeacherFormData.value)">
    <header>{{formHeader}}</header>

    <label>Teacher first name *</label>
    <input type="text" name="firstName" formControlName="firstName" />

    <label>Teacher name *</label>
    <input type="text" name="lastName" formControlName="lastName" />

    <label>Teacher Short Note</label>
    <input type="text" name="shortNote" formControlName="shortNote" />

    <div class="help">(*) fields are mandatory</div>

    <button [disabled]="!newTeacherFormData.valid" value="Submit">New Teacher</button>
  </form>
</div>

<h1>{{subtitle}}</h1>
<ul class="teachers">
  <li *ngFor="let teacher of teachers">
    <a routerLink="/teacher-detail/{{teacher.id}}">
      {{teacher.lastName | uppercase}}
    </a>
    <button class="delete" title="delete teacher" (click)="delete(teacher)">X</button>
  </li>
</ul>