
<div *ngIf="teacher">
  <header>More about {{ teacher.lastName | uppercase }} </header>
  <div><span>id: </span>{{teacher.id}}</div>
  <div>
    <label>First name: 
     <input [(ngModel)]="teacher.firstName"/>
    </label> 
  </div>
  <div>
    <label>Name: 
      <input [(ngModel)]="teacher.lastName">
    </label>
  </div>
  <div><label>Note About {{teacher.firstName}} {{teacher.lastName}} : </label> {{teacher.info}} !</div>
  <button (click)="save()">Save Plaing</button>
</div>
<button (click)="goBack()">Go Back</button>
