<h1>Planings Management</h1>

<div class="planing_form_container">
  <form [formGroup]="newPlaningFormData" (ngSubmit)="onSubmit(newPlaningFormData.value)">
    <header>Enter New Planing : Please Don't Forget Planing Infos</header>

    <label>Lesson Id *</label>
    <input type="text" name="lessonId" formControlName="lessonId" />

    <label>Teacher Id *</label>
    <input type="text" name="teacherId" formControlName="teacherId" />

    <label>Member Id *</label>
    <input type="text" name="memberId" formControlName="memberId" />

    <label>Planing Information</label>
    <input type="text" name="note" formControlName="note" />

    <div class="help">(*) fields are mandatory</div>

    <button [disabled]="!newPlaningFormData.valid" value="Submit">New Planing</button>
  </form>
</div>

<h1>All Planings</h1>
<ul>
  <li *ngFor="let planing of planings">
    Lesson Id :
    <a routerLink="/lesson-detail/{{planing.lessonId}}">{{planing.lessonId}}</a>
    -- Teacher Id :
    <a routerLink="/teacher-detail/{{planing.teacherId}}">{{planing.teacherId}}</a>
    -- Information : {{planing.note}}
    <button title="delete planing" (click)="delete(planing)">X</button>
  </li>
</ul>