<h1>Planings Management</h1>

<div class="planing_form_container">
  <form [formGroup]="newPlaningFormData" (ngSubmit)="onSubmit(newPlaningFormData.value)">
    <header>Enter New Planing : Please Don't Forget Planing Infos</header>

    <label>Lesson *</label>
    <select formControlName="lessonId">
        <option value="">Please select a Lesson</option>
        <option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.id}} - {{lesson.lessonName}}</option>
      </select>


      <br>
    <label>Teacher *</label>
    <select formControlName="teacherId">
      <option value="">Please select a Teacher</option>
      <option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.id}} - {{teacher.firstName}} {{teacher.lastName}}</option>
    </select>

    <br>
    <label>Member *</label>
    <select formControlName="memberId">
      <option value="">Please select a Member</option>
      <option *ngFor="let member of members" [value]="member.id">{{member.id}} - {{member.firstName}} {{member.lastName}}</option>
    </select>

    <br>
    <label>Planing Information</label>
    <input type="text" name="note" formControlName="note" />

    <div class="help">(*) fields are mandatory</div>

    <button [disabled]="!newPlaningFormData.valid" value="Submit">New Planing</button>
  </form>
</div>

<h1>All Planings</h1>
<ul class="planings">
  <li *ngFor="let planing of planings">
    Lesson Infos :
    <a routerLink="/lesson-detail/{{planing.lessonId}}">{{planing.lessonId}} - {{planing.lessonName}} </a>
    -- Teacher :
    <a routerLink="/teacher-detail/{{planing.teacherId}}">{{planing.teacherId}} - {{planing.teacherFirstName}} {{planing.teacherLastName}}</a>
    -- Information : {{planing.note}}
    <button class="delete" title="delete planing" (click)="delete(planing)">X</button>
  </li>
</ul>