<div *ngIf="lesson">
  <header>{{ detailHeader }} {{ lesson.lessonName | uppercase }} </header>
  <div>
    <span>id: </span>{{lesson.id}}</div>
  <div>
    <label>Lesson Name:
      <select [(ngModel)]="lesson.lessonName">
        <option value="lesson.lessonName">{{lesson.lessonName}}</option>
        <option *ngFor="let less of lessonsList" [value]="less">{{less}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Lesson level:
      <select [(ngModel)]="lesson.level">
        <option value="lesson.level">{{lesson.level}}</option>
        <option *ngFor="let lev of lessonLevels" [value]="lev">{{lev}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Lesson Start Date : {{ lesson.startDate | date }} ** </label>
    <label>Lesson End Date : {{ lesson.endDate | date }} ** </label>
    <label>Lesson Duration : {{ lesson.duration }}</label>
  </div>
  <button (click)="save()">Save Lesson</button>
</div>
<button (click)="goBack()">Go Back</button>