<div style="text-align:left">
  <app-header></app-header>

  <span *ngIf="loginSucceeded;then siteAvailable else loginAvailable"></span>
  <ng-template #siteAvailable>
    <div class="global_container">
      <div class="user_infos">{{dateTime | date}}
        <br> Nice to meet you {{username | firstCapitalLetter}} !
      </div>
      <h1>
        Welcome to {{ title }}!
      </h1>
      <nav>
        <a routerLink="/lessons">Lessons Manager</a>
        <a routerLink="/teachers">Teachers Manager</a>
        <a routerLink="/members">Members Manager</a>
        <a routerLink="/planings">Planings Manager</a>
      </nav>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </ng-template>
  <ng-template #loginAvailable>
    <div>
      <app-login (loginChange)="loginEnable($event)" (usernameChange)="setUsername($event)"></app-login>
    </div>
  </ng-template>

  <app-footer></app-footer>
</div>