<h1>{{title}}</h1>

<div class="member_form_container">
  <form [formGroup]="newMemberFormData" (ngSubmit)="onSubmit(newMemberFormData.value)">
    <header>{{formHeader}}</header>

    <label>Member Level *</label>
    <select formControlName="level">
      <option value="">Please select a Level</option>
      <option *ngFor="let lev of memberLevels" [value]="lev">{{lev}}</option>
    </select>

    <br>
    <label>Member First Name *</label>
    <input type="text" name="firstName" formControlName="firstName" />

    <label>Member Name *</label>
    <input type="text" name="lastName" formControlName="lastName" />

    <div class="help">(*) fields are mandatory</div>
    
    <button [disabled]="!newMemberFormData.valid" value="Submit">New Member</button>
  </form>
</div>

<h1>{{subtitle}}</h1>
<ul class="members">
  <li *ngFor="let member of members">
    <a routerLink="/member-detail/{{member.id}}">
      {{member.lastName | uppercase}}
    </a>
    <button class="delete" title="delete member" (click)="delete(member)">X</button>
  </li>
</ul>